<h1 style="text-align: center;"><span style="color: blue;">DURHAM OPEN - FALL 2016 </span></h1>
<h2 style="text-align: center;"><span style="color: #ce33ff;"> ONLINE SCORE TRACKER</span></h2>
<h3>Please review the score sheet below and contact me if you see any discrepancy</h3>
<p>&nbsp;</p>
<h2 style="text-align: center;"><font color=#CE33FF> POINTS SUMMARY</font></h2>
<table>
<tbody>
<tr>
<td>
<h3>Team&nbsp;&nbsp;</h3>
</td>
<td>
<h3>Matches&nbsp;&nbsp;</h3>
</td>
<td>
<h3>Wins&nbsp;&nbsp;</h3>
</td>
<td>
<h3>Losses&nbsp;&nbsp;</h3>
</td>
<td>
<h3>Points&nbsp;&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>Manick/Pavan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
</td>
<td>
<h3>2</h3>
</td>
<td>
<h3>2</h3>
</td>
<td>
<h3>1</h3>
</td>
<td>
<h3>3</h3>
</td>
</tr>
<tr>
<td>
<h3>Sagar/Rajeev</h3>
</td>
<td>
<h3>2</h3>
</td>
<td>
<h3>2</h3>
</td>
<td>
<h3>0</h3>
</td>
<td>
<h3>6</h3>
</td>
</tr>
<tr>
<td>
<h3>Sriram/Rahul</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>Subbu/Jay</h3>
</td>
<td>
<h3>1</h3>
</td>
<td>
<h3>1</h3>
</td>
<td>
<h3>0</h3>
</td>
<td>
<h3>2</h3>
</td>
</tr>
<tr>
<td>
<h3>Ravi/Srikar</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>Vjay/Manju</h3>
</td>
<td>
<h3>1</h3>
</td>
<td>
<h3>0</h3>
</td>
<td>
<h3>1</h3>
</td>
<td>
<h3>0</h3>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h2 style="text-align: center;"><span style="color: #ce33ff;">MATCH SCHEDULE AND SUMMARY</span></h2>
<table>
<tbody>
<tr>
<td>
<h3>S.NO&nbsp;&nbsp;</h3>
</td>
<td>
<h3>Team 1&nbsp;&nbsp;</h3>
</td>
<td>
<h3>Team 2&nbsp;&nbsp;</h3>
</td>
<td>
<h3>Set 1&nbsp;&nbsp;</h3>
</td>
<td>
<h3>Set 2&nbsp;&nbsp;</h3>
</td>
<td>
<h3>Set 3&nbsp;&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>1.</h3>
</td>
<td>
<h3>Manick/Pavan&nbsp;&nbsp;</h3>
</td>
<td>
<h3>Subbu/Jay&nbsp;&nbsp;</h3>
</td>
<td>
<h3>6-4</h3>
</td>
<td>
<h3>6-1</h3>
</td>
<td>
<h3>N/A</h3>
</td>
</tr>
<tr>
<td>
<h3>2.</h3>
</td>
<td>
<h3>Sagar</h3>
</td>
<td>
<h3>Vjay</h3>
</td>
<td>
<h3>6-0</h3>
</td>
<td>
<h3>6-3</h3>
</td>
<td>
<h3>N/A</h3>
</td>
</tr>
<tr>
<td>
<h3>3.</h3>
</td>
<td>
<h3>Sagar/Rajeev</h3>
</td>
<td>
<h3>Vjay/Manju</h3>
</td>
<td>
<h3>6-1</h3>
</td>
<td>
<h3>7-5</h3>
</td>
<td>
<h3>N/A</h3>
</td>
</tr>
<tr>
<td>
<h3>4.</h3>
</td>
<td>
<h3>Jay</h3>
</td>
<td>
<h3>Pavan</h3>
</td>
<td>
<h3>6-7(3-7)&nbsp;&nbsp;</h3>
</td>
<td>
<h3>7-6(7-1)&nbsp;&nbsp;</h3>
</td>
<td>
<h3>6-4 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>&nbsp;5.</h3>
</td>
<td>
<h3>Rahul</h3>
</td>
<td>
<h3>Srikar</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>&nbsp;6.</h3>
</td>
<td>
<h3>Sriram</h3>
</td>
<td>
<h3>Ravi</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>&nbsp;7.</h3>
</td>
<td>
<h3>Sriram/Rahul</h3>
</td>
<td>
<h3>Ravi/Srikar</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>&nbsp;8.</h3>
</td>
<td>
<h3>Manick</h3>
</td>
<td>
<h3>VJay</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>9.</h3>
</td>
<td>
<h3>Jay</h3>
</td>
<td>
<h3>Rajeev</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>10.</h3>
</td>
<td>
<h3>Subbu/Jay</h3>
</td>
<td>
<h3>Sagar/Rajeev</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>11.</h3>
</td>
<td>
<h3>Vjay</h3>
</td>
<td>
<h3>Ravi</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>12.</h3>
</td>
<td>
<h3>Paval</h3>
</td>
<td>
<h3>Rahul</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>13.</h3>
</td>
<td>
<h3>Manick/Pavan</h3>
</td>
<td>
<h3>Vjay/Manju</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>14.</h3>
</td>
<td>
<h3>Sagar</h3>
</td>
<td>
<h3>Ravi</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>15.</h3>
</td>
<td>
<h3>Jay</h3>
</td>
<td>
<h3>Rahul</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>16.</h3>
</td>
<td>
<h3>Sagar/Rajeev</h3>
</td>
<td>
<h3>Ravi/Srikar</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>17.</h3>
</td>
<td>
<h3>Subbu</h3>
</td>
<td>
<h3>Sriram</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>18.</h3>
</td>
<td>
<h3>Pavan</h3>
</td>
<td>
<h3>Manju</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>19.</h3>
</td>
<td>
<h3>Manick/Pavan</h3>
</td>
<td>
<h3>Sriram/Rahul</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>20.</h3>
</td>
<td>
<h3>Subbu</h3>
</td>
<td>
<h3>Sagar</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>21.</h3>
</td>
<td>
<h3>Manju</h3>
</td>
<td>
<h3>Srikar</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>22.</h3>
</td>
<td>
<h3>Subbu/Jay</h3>
</td>
<td>
<h3>Vjay/Manju</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>23.</h3>
</td>
<td>
<h3>Manick</h3>
</td>
<td>
<h3>Sriram</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>24.</h3>
</td>
<td>
<h3>Rajeev</h3>
</td>
<td>
<h3>Srikar</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>25.</h3>
</td>
<td>
<h3>Manick/Pavan</h3>
</td>
<td>
<h3>Ravi/Srikar</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
</tbody>
</table>
<h3 style="text-align: center;"><span style="color: #ce33ff;"> WINTER BREAK</span></h3>
<table>
<tbody>
<tr>
<td>
<h3>26. &nbsp;</h3>
</td>
<td>
<h3>Subbu</h3>
</td>
<td>
<h3>Vjay</h3>
</td>
<td>
<h3>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h3>
</td>
<td>
<h3>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h3>
</td>
<td>
<h3>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>27. &nbsp;</h3>
</td>
<td>
<h3>Rajeev</h3>
</td>
<td>
<h3>Rahul</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>28.</h3>
</td>
<td>
<h3>Sagar/Rajeev</h3>
</td>
<td>
<h3>Sriram/Rahul</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>29.</h3>
</td>
<td>
<h3>Manick</h3>
</td>
<td>
<h3>Ravi</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>30.</h3>
</td>
<td>
<h3>Jay</h3>
</td>
<td>
<h3>Manju</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>31.</h3>
</td>
<td>
<h3>Subbu/Jay</h3>
</td>
<td>
<h3>Ravi/Srikar</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>32.</h3>
</td>
<td>
<h3>&nbsp;Sagar</h3>
</td>
<td>
<h3>Sriram</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>33.</h3>
</td>
<td>
<h3>Manju</h3>
</td>
<td>
<h3>Rahul</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>34.</h3>
</td>
<td>
<h3>Vjay/Manju</h3>
</td>
<td>
<h3>Sriram/Rahul</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>35.</h3>
</td>
<td>
<h3>Subbu</h3>
</td>
<td>
<h3>Ravi</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>36.</h3>
</td>
<td>
<h3>Pavan</h3>
</td>
<td>
<h3>Srikar</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>37.</h3>
</td>
<td>
<h3>Manick/Pavan</h3>
</td>
<td>
<h3>Sagar/Rajeev</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>38.</h3>
</td>
<td>
<h3>Vjay</h3>
</td>
<td>
<h3>Sriram</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>39.</h3>
</td>
<td>
<h3>Jay</h3>
</td>
<td>
<h3>Srikar</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>40.</h3>
</td>
<td>
<h3>Subbu/Jay</h3>
</td>
<td>
<h3>Sriram/Rahul</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>41.</h3>
</td>
<td>
<h3>Manick</h3>
</td>
<td>
<h3>Sagar</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>42.</h3>
</td>
<td>
<h3>Rajeev</h3>
</td>
<td>
<h3>Manju</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>43.</h3>
</td>
<td>
<h3>Vjay/Manju</h3>
</td>
<td>
<h3>Ravi/Srikar</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>44.</h3>
</td>
<td>
<h3>Manick</h3>
</td>
<td>
<h3>Subbu</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
<tr>
<td>
<h3>45.</h3>
</td>
<td>
<h3>Pavan</h3>
</td>
<td>
<h3>Rajeev</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
<td>
<h3>&nbsp;</h3>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
